{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    This System was created by a Capstone group including (Abdullah Almutlaq, Antonio S-M, Mitchell Stemm, Christabel Akhigbe, Mike Eubank).
    The system is created to house the Archeology Library information regarding books and other items.
    This system can be used to add and remove books from the database, search for a specific book or an item, it is also used to keep track of the books and items in the database.
</p>

{% endblock %}
