{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <a class="btn" href="{{url_for('get_catalog_create')}}">New Catalog Item</a>
    </div>

</div>



<div class="table-responsive">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <table class="table sortable table-striped table-bordered">
        <thead class="">
            <tr style="">
                <th class="align-middle" style="text-align:center">ID</th>
                <th class="align-middle" style="text-align:center">Status</th>
                <th class="align-middle" style="text-align:center">checkedout to</th>
                <th class="align-middle" style="text-align:center">title</th>
                <th class="align-middle" style="text-align:center">desc</th>
                <th class="align-middle" style="text-align:center">isbn</th>
                <th class="align-middle" style="text-align:center">item_type</th>
                <!--<th>Description</th>-->
            </tr>
        </thead>
        <tbody>
            {% for ticket in ticket_list %}
            <tr class = "item">
                <td> <a href="{{url_for('get_catalog_item_by_id', id=catalog_item['_id'])}}">{{catalog_item['_id']}}</a></td>
                <td>{{catalog_item['item_status']}}</td>
                <td>{{catalog_item['checkedout_to']}}</td>
                <td>{{catalog_item['title']}}</td>
                <td>{{catalog_item['desc']}}</td>
                <td>{{catalog_item['isbn']}}</td>
                <td>{{catalog_item['item_type']}}</td>
                <!--<td style="width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{ticket['desc']}}</td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
