<!-- -- > 
###################################
###################################
# Description of File: Home Page for ARCHLIB
# Author: Mike Eubank
# Updated On: 11/07/2022
# Capstone Group Members: Abdullah Almultaq, Antonio S-M, Mitchell Stemm, Christabel Akhigbe, Mike Eubank

###################################
###################################
<! -- -->

{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <a class="btn" href="{{url_for('get_catalog_create')}}">New Catalog Item</a>
    </div>

</div>

<div> <br></br> </div>

<div class="table-responsive">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <table class="table sortable table-striped table-bordered">
        <thead class="catalogtab">
            <tr style="">
                <th class="align-middle" style="text-align:center; font-weight: 200;">ID</th>
                <th class="align-middle" style="text-align:center; font-weight: 200;">STATUS</th>
                <th class="align-middle" style="text-align:center; font-weight: 200;">CHECKEDOUT TO</th>
                <th class="align-middle" style="text-align:center; font-weight: 200;">TITLE</th>
                <th class="align-middle" style="text-align:center; font-weight: 200;">DESCRIPTION</th>
                <th class="align-middle" style="text-align:center; font-weight: 200">AUTHOR</th>
                <th class="align-middle" style="text-align:center; font-weight: 200">ISBN</th>
                <th class="align-middle" style="text-align:center; font-weight: 200">ITEM_TYPE</th>
                <!--<th>Description</th>-->
            </tr>
        </thead>
        <tbody>
            {% for catalog_item in catalog %}
            <tr class="item">
                <td> <a href="{{url_for('get_catalog_item_by_id', id=catalog_item['_id'])}}">{{catalog_item['_id']}}</a></td>
                <td>{{catalog_item['item_status']}}</td>
                <td>{{catalog_item['checkedout_to']}}</td>
                <td>{{catalog_item['title']}}</td>
                <td>{{catalog_item['desc']}}</td>
                <td>{{catalog_item['author']}}</td>
                <td>{{catalog_item['isbn']}}</td>
                <td>{{catalog_item['item_type']}}</td>
                <!--<td style="width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{catalog_item['desc']}}</td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
