{% extends "layout.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .card:hover {
            transform: scale(1.1);
        }

        .card {
            transition: transform 0.2s ease;
        }
    </style>
</head>

<!-- !PAGE CONTENT! -->
<div class="row" style="max-width:1200px;margin-top:100px">
    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="card w3-quarter">
            <img src="https://img.icons8.com/bubbles/512/id-man-in-red-glasses.png" alt="Abdullah" style="width:100%">
            <div>
                <h4><b>Abdullah Almultaq</b></h4>
                <p>Developer</p>
                <div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="mailto:aalmjult1@kent.edu"><img src="https://img.icons8.com/pastel-glyph/512/new-post.png" width="33%" height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://github.com/Brokenz-A"><img src="https://img.icons8.com/material-sharp/512/github.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://www.linkedin.com/in/abdullah-almutlaq-582954172/"><img src="https://img.icons8.com/ios-glyphs/512/user.png" width="33%"
                                height=auto></a>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="card w3-quarter">
            <img src="https://img.icons8.com/bubbles/512/id-man-in-jacket-with-glasses.png" alt="Antonio" style="width:100%">
            <div>
                <h4><b>Antonio S-M</b></h4>
                <p>Developer</p>
                <div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="mailto:ashelto6@kent.edu"><img src="https://img.icons8.com/pastel-glyph/512/new-post.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://github.com/ashelto6"><img src="https://img.icons8.com/material-sharp/512/github.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://www.linkedin.com/in/ashelto6/"><img src="https://img.icons8.com/ios-glyphs/512/user.png" width="33%"
                                height=auto></a>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="card w3-quarter">
            <img src="https://img.icons8.com/bubbles/512/id-man-with-yellow-glasses.png" alt="Mitchell" style="width:100%">
            <div>
                <h4><b>Mitchell Stemm</b></h4>
                <p>Developer</p>
                <div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="mailto:mstemm@kent.edu"><img src="https://img.icons8.com/pastel-glyph/512/new-post.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://github.com/Mdstemm"><img src="https://img.icons8.com/material-sharp/512/github.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://www.linkedin.com/in/mitchell-stemm-77b206221/"><img src="https://img.icons8.com/ios-glyphs/512/user.png" width="33%"
                                height=auto></a>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="card w3-quarter">
            <img src="https://img.icons8.com/bubbles/512/id-curly-hair-girl.png" alt="Christabel" style="width:100%">
            <div>
                <h4><b>Christabel Akhigbe</b></h4>
                <p>Developer</p>
                <div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="mailto:cakhigbe@kent.edu"><img src="https://img.icons8.com/pastel-glyph/512/new-post.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://github.com/cakhigbe"><img src="https://img.icons8.com/material-sharp/512/github.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://www.linkedin.com/in/christabel-akhigbe-63b3601b1/"><img src="https://img.icons8.com/ios-glyphs/512/user.png" width="33%"
                                height=auto></a>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="card w3-quarter">
            <img src="https://img.icons8.com/bubbles/512/employee-card.png" alt="Mike" style="width:100%">
            <div>
                <h4><b>Mike Eubank</b></h4>
                <p>Developer</p>
                <div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="mailto:meubank@kent.edu"><img src="https://img.icons8.com/pastel-glyph/512/new-post.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://github.com/micle546"><img src="https://img.icons8.com/material-sharp/512/github.png" width="33%"
                                height=auto></a>
                    </div>
                    <div class="w3-third" style="z-index:1;">
                        <a href="https://www.linkedin.com/in/mike-eubank-5a6043134/"><img src="https://img.icons8.com/ios-glyphs/512/user.png" width="33%"
                                height=auto></a>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="card w3-quarter">
            <img src="https://img.icons8.com/bubbles/512/code-fork.png" alt="Repo" style="width:100%">
            <div>
                <h4>Repository <img src="https://img.icons8.com/ios/512/circled-chevron-right.png" width="10%"
                        height=auto></h4>
                <p><a href="https://github.com/micle546/KSUCapstone">Learn more about our project</a></p>
            </div>
            <div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

    <!-- End page content -->
</div>

{% endblock %}