{% extends "layout.html" %}

{% block content %}
<div></div>

<script type="text/javascript">
    use_typ = {{ user.user_type | tojson }};
/*    setFieldUserType('user_type', use_typ);*/
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-lg">

                <div class="row">
                    <div class="col-md-4">
                        <a class="btn" href="{{url_for('get_users')}}">Cancel</a>
                    </div>
                </div>


                <h1 class="center">Update User</h1>

                <form name="edit_user">

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="id">ID</label>
                            <input type="text" name="id" class="field" value="{{user['_id']}}" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="email">Email</label>
                            <input type="text" name="email" value="{{user['email']}}" class="field" readonly required />
                        </div>
                        <div class="col-md-4">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="field" value="{{user['name']}}" readonly required />
                        </div>
                        <div class="col-md-4">
                            <label for="user_type">User Type</label>
                            <select id="user_type" name="user_type" class="field">
                                <option value="1">Normal User</option>
                                <option value="2">Grad Student</option>
                                <option value="3">Admin</option>
                                <option value="4">??</option>
                            </select>
                        </div>
                    </div>


                    <!--<label for="password">Password</label>
    <input type="password" name="password" class="field" required />-->

                    <p class="error error--hidden">test</p>

                    <input type="submit" value="Update User" class="btn" />


                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
