{% extends "layout.html" %}

{% block content %}
<div></div>

<script type="text/javascript">
    /*This isn't working?p9*/
    cat_type = {{ catalog_item.item_type | tojson }};
    setType('item_type', cat_type);
    /*TODO also fix user with this for user type*/
</script>

<script type="text/javascript">
    cat_status = {{ catalog_item.item_status | tojson }};
    setStatus('item_status', cat_status);
</script>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-lg">

                <div class="row">
                    <div class="col-md-4">
                        <a class="btn" href="{{url_for('get_catalog')}}">Cancel</a>
                    </div>
                </div>


                <h1 class="center">Update Catalog Item</h1>

                <form name="edit_catalog_item">


                    <div class="form-group row">

                        <div class="col-md-6">
                            <label for="id">ID</label>
                            <input type="text" name="id" value="{{catalog_item['_id']}}" class="field" readonly />
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label for="isbn">ISBN</label>
                            <input type="text" name="isbn" value="{{catalog_item['isbn']}}" class="field" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="item_type">Item Type</label>
                            <select id="item_type" name="item_type" class="field">
                                <option value="1">Book</option>
                                <option value="2">?</option>
                                <option value="3">??</option>
                                <option value="4">???</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="title">Title</label>
                            <input type="text" name="title" value="{{catalog_item['title']}}" class="field" />
                        </div>

                        <div class="col-md-4">
                            <label for="author">Author</label>
                            <input type="text" name="author" value="{{catalog_item['author']}}" class="field" />
                        </div>
                    </div>

                    <div>
                        <label for="desc">Description</label>
                        <textarea name="desc" class="form-control" rows="5">{{catalog_item['desc']}}</textarea>
                    </div>
                    <br />

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="item_status">Item Status</label>
                            <select id="item_status" name="item_status" class="field">
                                <option value="1">On Shelf</option>
                                <option value="2">Checked-Out</option>
                                <option value="3">??</option>
                                <option value="4">???</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="checkedout_to">checkedout_to</label>
                            <input type="text" name="checkedout_to" class="field" value="{{catalog_item['checkedout_to']}}" readonly required />
                        </div>
                        <div class="col-md-4">
                            <label for="modified_time">Last Modified</label>
                            <input type="datetime" name="modified_time" class="field" value="{{catalog_item['modified_time']}}" readonly required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="create_time">Created Time</label>
                            <input type="datetime" name="create_time" value="{{catalog_item['create_time']}}" class="field" readonly required />
                        </div>
                        <div class="col-md-6">
                            <label for="modified_time">{Reserved}</label>
                            <input type="datetime" name="modified_time" class="field" value="" readonly required />
                        </div>
                    </div>

                    <p class="error error--hidden"></p>

                    <input type="submit" value="Update Catalog Item" class="btn" />


                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
