<!-- -- > 
###################################
###################################
# Description of File: Home Page for ARCHLIB
# Author: Mike Eubank, Christabel Akhigbe
# Updated On: 11/07/2022
# Capstone Group Members: Abdullah Almultaq, Antonio S-M, Mitchell Stemm, Christabel Akhigbe, Mike Eubank

###################################
###################################
<! -- -->

{% extends "layout.html" %}

{% block content %}

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<!-- !PAGE CONTENT! -->
<div class="row" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <img src="https://img.icons8.com/clouds/512/storytelling.png" alt="Book" style="width:100%">
        <h3>Books</h3>
        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
      <div class="w3-quarter">
        <img src="https://img.icons8.com/bubbles/512/writer-female.png" alt="Author" style="width:100%">
        <h3>Authors</h3>
        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
      <div class="w3-quarter">
        <img src="https://img.icons8.com/bubbles/512/search.png" alt="Research" style="width:100%">
        <h3>Resarch</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <p>What else?</p>
      </div>
      <div class="w3-quarter">
        <img src="https://img.icons8.com/clouds/512/homework-app.png" alt="Study" style="width:100%">
        <h3>Study</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>
    
    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="https://img.icons8.com/clouds/512/learning.png" alt="Learn" style="width:100%">
        <h3>Learn</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
      <div class="w3-quarter">
        <img src="https://img.icons8.com/bubbles/512/museum.png" alt="Archeology" style="width:100%">
        <h3>Archeology</h3>
        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
      <div class="w3-quarter">
        <img src="https://img.icons8.com/dusk/512/archeology.png" alt="Artifacts" style="width:100%">
        <h3>Artifacts</h3>
        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
      <div class="w3-quarter">
        <img src="https://img.icons8.com/clouds/512/hand-with-pen.png" alt="Papers" style="width:100%">
        <h3>Papers</h3>
        <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>
 
  <!-- End page content -->
  </div>

{% endblock %}
