<!-- -- > 
###################################
###################################
# Description of File: Home Page for ARCHLIB
# Author: Mike Eubank, Abdullah Almultaq, Christabel Akhigbe
# Updated On: 11/07/2022
# Capstone Group Members: Abdullah Almultaq, Antonio S-M, Mitchell Stemm, Christabel Akhigbe, Mike Eubank

###################################
###################################
<! -- -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Kent State Archeology Library System</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="icon" href="https://logodix.com/logo/860460.png">
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">ARCHLIB</a>
            </div>
            <div class="navbar-collapse" id="mobile-menu">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <!--<li><a href="{{ url_for('get_tickets') }}">Tickets</a></li>-->
                    <li><a href="{{ url_for('get_catalog') }}">CATALOG</a></li>
                    <!--<li><a href="{{ url_for('get_users') }}">(debug) Users</a></li>-->
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
                
                    <li>
                        <form id="search" action="/catalog" class="navbar-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <!--here you connect the data to search-->
                                    <textarea name="title" style="width: 140px; height: 30px; resize: none;"></textarea>                             
                        </form>
                        <button type="submit" form="search">Search</button>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                <li>
                {% if session['logged_in'] %}
                <a href="#" class="navbar-link"><span class="glyphicon glyphicon-user"></span> {{ session['user']['email'] }}</a></li>
                <li><a href="{{ url_for('signout') }}"class="navbar-link">SIGN OUT</a> </li>
                {% else %}
                <li>
                <a href="{{ url_for('get_login') }}" class="navbar-link">LOG IN | SIGN UP</a>
                {% endif %}
                </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - KSU ARCHLIB Capstone group</p>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/scripts.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>