<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Kent State Archeology Library System</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 5px solid gold;">
        <block>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="width:200px;height:80px" src= "https://flashweb.kent.edu/images/Kent-State-Logo-White.svg" href="/" class="navbar-brand"></img>
            </div>
        {% if session['logged_in'] %}
                <p style="text-align:right; font-family:Cambria; color:white; padding-right: 15px">Signed in as <a href="#" class="navbar-link" style="color:white">{{ session['user']['email'] }}</a> | <a href={{ url_for('signout') }} class="button">Sign Out </a></p>
                {% else %}
                <p style="text-align:right; font-family:Cambria; color:white; padding-right: 15px"><a href="{{ url_for('get_login') }}" class="button"> Log In | Sign up </a></p>
                {% endif %}        
        </block>
        <block>
            <h1> Archeology Library </h1> 
        </block>
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <!--<li><a href="{{ url_for('get_tickets') }}">Tickets</a></li>-->
                    <li><a href="{{ url_for('get_catalog') }}">Catalog</a></li>
                    <!--<li><a href="{{ url_for('get_users') }}">(debug) Users</a></li>-->
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>

                <div class="searchBar">
                    <form action=" /action_page.php">
                        <!--here you connect the data to search-->
                        <input type="text" placeholder="Search.." name="Search">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - KSU ARCHLIB Capstone group</p>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/scripts.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
