{% extends "layout.html" %}

{% block content %}
<div class="row">

</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="">
            <tr style="">
                <th class="align-middle" style="text-align:center">ID</th>
                <th class="align-middle" style="text-align:center">Name</th>
                <th class="align-middle" style="text-align:center">email</th>
                <th class="align-middle" style="text-align:center">User Type</th>

            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td>{{user['_id']}}</a></td>
                <td>{{user['name']}}</td>
                <td>{{user['email']}}</td>
                <td><div contenteditable> {{user['user_type']}}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
